
@font-face {
  font-family: 'Digital7';
  src: url(./components/theme/digital-7-italic.ttf)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Digital7", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
